
<%# 這個頁面是被選染出來的留言介面 %>

<article data-controller="comment-reply" class="">
  

  <div>
    <div class="flex items-center">
    
      <div class="mr-4">
        <% if comment.user.avatar.attached? %>
          <%= image_tag comment.user.avatar, class: "user-like-house-icon" %>
        <% else %>
          <%= image_tag "/assets/default_avatar.png", class: "user-like-house-icon" %>
        <% end %>        
      </div>
      <div>
        <p class="my-4">
          <span><%= comment.user.name %></span>
          <span class="ml-4 text-xs text-slate-400"><%= time_ago_in_words(comment.created_at) %> ago</span>
        </p>  
      </div>
    </div>

  

    <div class="pl-4 ml-4 border-l">
  
      <%= turbo_frame_tag dom_id(comment) do %>
        <%# 內容區塊 %>
        <div class="my-2 text-sm text-gray-600">
          <span><%= simple_format(comment.content) %></span>
        </div>
        <%# 點讚區塊 %>
        <small data-controller="comment-like"
               data-comment-id = "<%= comment.id %>"           
               data-comment-like-state = '<%= current_user.comment_like_state(comment.id) ? current_user.comment_like_state(comment.id).state : 'vacant' if current_user
               %>'
               data-current-user-id="<%= current_user ? current_user.id : 'Logged out' %>"
               >
          <span class="mr-4">        
            <i class="cursor-pointer fa-regular fa-thumbs-up" data-action = "click->comment-like#like" 
                                                              data-comment-like-target="thumbsUp">
            </i>
            <span data-comment-like-target="commentLikeCount">
              <%= comment.like_states.comment_true_count %>
            </span>
          </span>
          <span class="mr-4">
            <i class="cursor-pointer fa-regular fa-thumbs-down" data-action = "click->comment-like#dislike" 
                                                                data-comment-like-target="thumbsDown"></i>        
            <span data-comment-like-target="commentDislikeCount">
              <%= comment.like_states.comment_false_count %>
            </span>
          </span>      
        </small>
        <%# 編輯按鈕 %>
        <% if current_user %>
          <% if comment.user_id == current_user.id %>
            <small class="mr-4">
              <%= link_to '編輯', edit_comment_path(comment) %>
            </small>
          <% end %>
        <% end %>
        <%# 回覆按鈕 %>
        <small class="mr-4 cursor-pointer" data-action="click->comment-reply#reply">回覆</small>
        <%# 刪除按鈕 %>
        <% if current_user %>
          <% if comment.user_id == current_user.id && comment.comments.size == 0 %>
            <small class="mr-4">    
              <%= link_to '刪除留言', comment_path(comment), data: {turbo_method: "delete", turbo_confirm: "確定嗎？"}, class: "text-red-500" %>
            </small>
          <% end %>
        <% end %>    
        <%# 隱藏的留言表單，點開就可以顯示form %>
        <div class="hidden" data-comment-reply-target="form">
        <%# 多渲染一個留言表單，這個表單會傳一些數值到留言表單那邊，把 comment.house當作house傳過去，comment 當作 parent 傳過去 %>  
          <%= render partial: 'comments/form', locals: { house: comment.house, parent: comment, url: comments_path(comment.house_id) } %>          
        </div>
        <%# <hr> %>
        <%# 這裡的意思是，把該留言的子留言全部選染出來 %>
        <%# ex. c = Comment.find(12)  c.comments => id=12 的全部留言抓出來並選染    %>
        <%# 這裡拿到的comment是 @comments = @house.comments 這個迴圈轉出來的 %>
        <div class="mt-10">
          <%= render comment.comments %>
        </div>
      <% end %>    
    </div>
  </div>
</article>

<%# <hr> %>


<%# 之後整體邏輯應該是要這樣，一開始啥留言都沒有的時候，就留一個留言框框，之後如果有人留言了，就會選是一條訊息在下方，並且此訊息也可以被回覆，接下來 %>