<%# 這邊是被選染出來的留言表單 %>
<section>
  <%# 用form_with model的變數是 "無效的" 不過應該可以用 show那邊的參數傳過來才對%>
  <%#= form_with model: @comment, url: comments_path(house) do |f| %>
  <%= form_with model: @comment, url: url do |f| %>

  <%# 用這個就可以了，所以也可以寫在 controller 的 show 那邊，最後再傳過來就好 %>
  <%#= form_with model: house.comments.new, url: comments_path(house) do |f| %>

    <%# 預設情況下，parent是nil，如果今天parent是有數值的，就多下面這個欄位，這個欄位是要用來新增子留言的  %>
    <% if !parent.nil? %>    
      <input type="hidden" name="parent_id" value="<%= parent.id %>">
    <% end %>
    <div class="my-4">
      <%= f.label :content, '留言' %>      
      <%= f.text_area :content, class: 'w-full py-2 pl-4 pr-10 text-sm placeholder-gray-400 bg-gray-100 border border-transparent appearance-none rounded-tg focus:bg-white focus:outline-none focus:border-blue-500 focus:text-gray-900 focus:shadow-outline-blue' %>
    </div>

    
    <div class="my-4">      
      <%= f.submit class: 'btn-primary' %>
    </div>
    
  <% end %>
</section>
