<%# 這邊是被選染出來的留言表單 %>
<section data-controller="comment-form"
         data-current-user-id="<%= current_user ? current_user.id : 'Logged out' %>"
         >   
  <%= form_with model: @comment, url: url do |f| %>

  <%# 用這個就可以了，所以也可以寫在 controller 的 show 那邊，最後再傳過來就好 %>
  <%#= form_with model: house.comments.new, url: comments_path(house) do |f| %>

    <%# 預設情況下，parent是nil，如果今天parent是有數值的，就多下面這個欄位，這個欄位是要用來新增子留言的  %>
    <% if !parent.nil? %>    
      <input type="hidden" name="parent_id" value="<%= parent.id %>">
    <% end %>
    
    <div class="my-4">
      <%#= f.label :content, '留言' %>      
      <%= f.text_area :content, 
        placeholder: "留下你的想法", 
        class: 'form-field h-20 border-transparent w-full placeholder-gray-400 text-sm focus:text-gray-900 focus:bg-white focus:outline-none focus:border-blue-500', 
        data: {action: "click->comment-form#comment"} %>
    </div>

    
    <div class="my-4">      
      <%= f.submit "送出", class: 'btn-primary' %>
      <%#= f.submit "取消", class: 'second-btn' %>
    </div>

    
  <% end %>
</section>
