<section class="relative flex items-center justify-center py-32 mt-10 bg-gray-500" data-controller="root--header">
  <img src="/assets/home.jpg" class="absolute object-cover w-full h-full" alt="Your Image">
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <div class="mx-auto max-w-[43rem] relative flex flex-wrap">
    <div class="w-full text-center">
      <p class="text-lg font-medium leading-8 text-white">Bad House Comment</p>
      <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-white">幫大學生避開惡房東的平台</h1>
    </div>

    <div class="relative flex items-center justify-center w-full gap-4 mt-6">
      <p class="px-5 py-3 font-medium text-white transition-colors transform rounded-md cursor-pointer bg-indigo-600/95 hover:bg-indigo-700"
         data-action="click->root--header#searchName"
         >
        依照房屋名稱搜尋
      </p>
      <p class="px-5 py-3 font-medium text-white transition-colors transform border rounded-md cursor-pointer border-slate-200 hover:bg-black"
         data-action="click->root--header#searchStreet"
         >
        依照街道搜尋
      </p>
    </div>

    <div class="relative w-full mt-10" data-root--header-target="houseName">
      <%= form_with(url: root_path, method: :get, class: "flex items-center w-full justify-between" ) do |form| %>
        <%= form.text_field :title, placeholder: "請輸入房屋名稱", class: "form-field w-full placeholder-black" %>
        <%= button_tag type:'submit', class: 'btn-primary px-8 py-2' do %>
          <i class="text-2xl text-white fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    
    <div class="relative hidden w-full mt-10" data-root--header-target="houseStreet">
      <%= form_with(url: root_path, method: :get, class: "flex items-center w-full justify-between" ) do |form| %>
        <%= form.text_field :street, placeholder: "請輸入社區、街道、地標名", class: "form-field w-full placeholder-black" %>
        <%= button_tag type:'submit', class: 'btn-primary px-8 py-2' do %>
          <i class="text-2xl text-white fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</section>




<%# 下面這一區塊是渲染首頁房子的地方 %>
<div>
  <%= turbo_frame_tag "page_handler" %>
  <div id="houses" class="min-w-full">
    <%= render @houses %>
  </div>
  <%= render "pager", pagy: @pagy %>
</div>


