<section class="relative flex items-center justify-center py-32 mt-10 bg-gray-500" data-controller="home-header">
  <img src="/assets/home.jpg" class="absolute object-cover w-full h-full" alt="Your Image">
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <div class="mx-auto max-w-[43rem] relative flex flex-wrap">
    <div class="w-full text-center">
      <p class="text-lg font-medium leading-8 text-white">Bad House Comment</p>
      <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-white">幫大學生避開惡房東的平台</h1>
    </div>

    <div class="relative flex items-center justify-center w-full gap-4 mt-6">
      <a href="#" class="px-5 py-3 font-medium text-white transition-colors transform rounded-md bg-indigo-600/95 hover:bg-indigo-700">依照房屋名稱搜尋</a>
      <a href="#" class="px-5 py-3 font-medium text-white transition-colors transform border rounded-md border-slate-200 hover:bg-black">依照縣市搜尋</a>
    </div>

    <div class="relative flex w-full mt-10">
      <%= form_with(url: root_path, method: :get, class: "flex items-center w-full justify-between" )do |form| %>
        <%= form.text_field :search, placeholder: "輸入房屋名稱", class: "form-field w-full placeholder-black" %>
        <%= button_tag type:'submit', class: 'btn-primary px-8 py-2' do %>
          <i class="text-2xl text-white fa-solid fa-magnifying-glass"></i>
        <% end %>        
      <% end %>
    </div>    
  </div>
</section>




<%# 下面這一區塊是渲染首頁房子的地方 %>
<div>
  <%= turbo_frame_tag "page_handler" %>
  <div id="houses" class="min-w-full">
    <%= render @houses %>
  </div>
  <%= render "pager", pagy: @pagy %>
</div>


