<section class="flex justify-center w-3/4 mx-auto mt-36">

  <%# 左邊區塊 %>
  <div class="w-2/3">    
    
    <%# 上方區塊 %>
    <div class="flex items-center p-5 bg-white rounded">

      <%= link_to admin_user_path(current_user) do %>
      <div class="flex items-center justify-center px-6 py-2 mr-4 text-blue-700 rounded-full cursor-pointer bg-slate-100">
        <p class="mr-3">已發佈</p>        
        <i class="fa-solid fa-upload"></i>
      </div>
      <% end %>

      <%= link_to admin_user_path(current_user, query: "已留言") do %>
      <div class="flex items-center justify-center px-6 py-2 mr-4 text-blue-700 rounded-full cursor-pointer hover:bg-slate-100">
        <p class="mr-3">已留言</p>        
        <i class="fa-solid fa-comment"></i>
      </div>
      <% end %>
      
      <%= link_to admin_user_path(current_user, query: "已點讚") do %>
      <div class="flex items-center justify-center px-6 py-2 mr-4 text-blue-700 rounded-full cursor-pointer hover:bg-slate-100">
        <p class="mr-3">已點讚</p>                
        <i class="fa-solid fa-thumbs-up"></i>
      </div>
      <% end %>
      
      <%= link_to admin_user_path(current_user, query: "已瀏覽") do %>
      <div class="flex items-center justify-center px-6 py-2 mr-4 text-blue-700 rounded-full cursor-pointer hover:bg-slate-100">
        <p class="mr-3">已瀏覽</p>
        <i class="fa-solid fa-eye"></i>
      </div>
      <% end %>
    </div>

    <%# 下方區塊 %>
    <div class="mt-5 rounded">  

      <%# 這段是渲染users/show.html.erb頁面  %>
      <% @houses.each do |house| %>   
        <%= render "house", house: house %>
      <% end %>

      <%# 但是rails說，如果在回圈裡面用render partail，會造成效率問題，要用collection寫法，因此改成這樣寫 %>
      <%#= render partial: "house", collection: @houses, as: :house %>

      <%# 上面那一整串推可以縮寫改成這樣 %>
      <%#= render @houses %>

      <%# !不過現在遇到另外一個問題，就是換成collection後效能好像沒變好，而且還跑出 [2 times] 這個東西! %>
      
    </div>


  </div>

  <%# 右邊區塊 %>
  <div class="w-1/3 ml-4 rounded">
    <%# avatar區塊 %>
    <div class="rounded-t bg-sky-500">
      <div class="flex items-center w-auto h-auto p-5 rounded">
        <%# <img src="/assets/default_avatar.png" class="object-cover w-24 h-24 border rounded" alt="Your Image">     %>
        <%= image_tag(current_user.avatar || "/assets/default_avatar.png", class: "object-cover w-24 h-24 border rounded") %>
      </div>    
    </div>
    
    <%# 個人資訊區塊 %>
    <div class="bg-white rounded-b">
      <div class="p-4">
        <div class="my-5 text-sm">
          <p class="my-3">信箱：<%= current_user.email %></p>
          <p class="my-3">暱稱：<%= current_user.name %></p>          
        </div>

        <div class="flex justify-center my-5">
          <%= link_to "新增房屋", new_admin_user_house_path(current_user), class: "btn-primary w-full rounded-full flex justify-center" %>
        </div>
        <div class="flex justify-center my-5">
          <%= link_to "編輯個人資訊", edit_admin_user_path(current_user), class: "second-btn w-full rounded-full flex justify-center" %>
        </div>
      </div>
      
    </div>
  </div>

</section>