<!DOCTYPE html>
<html>
  <head>
    <title>RentalHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-300">    
    <%# <main class="container px-5 mx-auto mt-28 "> %>
    <main>
      <section>
        <%= render "shared/navbar" %>
        <%= render "shared/flash" %>
      </section>
      <%= yield %>
    </main>
  </body>
</html>
